#top {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    clear: both;
}

#select {
    width:250px;
}

#left {
     float: left;
     margin: 0px auto;
     width: 50%;
}

#middle {
    display: inline-block;
    width: 33%;
}

#right {
    float: right;
    width: 50%;

}