#top {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    clear: both;
}

#left {
    clear: auto;
    float: left;
}

#entryTable {
}

#right {
    float: right;
    clear: auto;

}